*{
  overflow: hidden;
}

#footerContainer{
    height: 95dvh;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info {
    color: #fafafa;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-weight: 500;
    font-size: 1em;
    overflow: hidden;
  }
  #mediaContainer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  #mediaContainer > div{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    gap: 1;
  }
  #mediaContainer > h4{
    color: #fafafa;
    font-size: 1.5em;
    padding: 2%;
  }

  .FooterLogo{
    display: flex;
    justify-content: center;
  }
  @media (min-width: 480px) {
    #footerContainer{
      padding-top: 5dvh;
      height: 110dvh;
    }
  }

@media (min-width: 768px) {
  #footerContainer{
    padding-top: 5%;
    height: 70dvh;
    background-color: #171717;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    overflow: hidden;
  }
  #mediaContainer{
    width: 50%;
    justify-content: space-evenly;
  }
  .infoWrapper{
    width: 50%;
  }
  .info{
    font-size: 1.3em;
  }
  .FooterLogo{
    width: 100%;
  }
}
#dev{
  color: #fafafa;
  width: 100%;
  text-align: center;
  background-color: #171717;
}