/*Contenedores*/
* {
  font-weight: 400;
  font-size: large;
}
#nav_container {
  background-color: #0a0a0a;
  width: 92%;
  height: 10dvh;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2.5dvh;
  padding-bottom: 2.5dvh;
  top: 0;
  position: fixed;
  z-index: 10;
  transition: 0.8s ease-in-out;
  overflow-y: hidden;
}
#nav_container_active {
  background-color: #0a0a0a;
  width: 92%;
  height: 50dvh;
  top: 0;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 5dvh;
  position: fixed;
  z-index: 10;
  transition: 0.8s ease-in-out;
  overflow-y: hidden;
}
.nav_links_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
  transition: 1s ease-out;
}

/*Elementos del nav*/
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12dvh;
  overflow-y: hidden;
}
#nav_button {
  background-color: #0a0a0a;
  border: none;
  display: flex;
  align-items: center;
}
#nav_button:hover {
  cursor: pointer;
}

.nav_links {
  display: flex;
  width: 100%;
  height: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2%;
  padding-bottom: 2%;
  list-style: none;
  overflow-y: hidden;
}
a {
  width: 25%;
  font-size: 4vh;
  overflow-y: hidden;
}
a:hover {
  cursor: pointer;
}

.nav_links > li {
  color: rgb(255, 255, 255);
  list-style: none;
  width: 100%;
  text-align: center;
  overflow-y: hidden;
}

.active_li {
  color: rgb(255, 255, 255);
  list-style: none;
  width: 100%;
  text-align: left;
}
.active_li::after {
  content: "";
  display: block;
  width: 20%;
  height: 2px;
  background: rgb(255, 255, 255);
  transition: width 0.3s;
  margin-left: 40%;
  margin-right: 40%;
}

/*ESTILOS DESKTOP*/

.nav_links_container_desk {
  display: none;
}
@media (min-width: 992px) {
  .nav_links_container_desk {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 55%;
    height: 100%;
  }
  #nav_button {
    display: none;
  }
  .nav_links_desk {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

  }
  a{
    font-size: 3.5vh;
  }
  .nav_links_desk > li > a {
    color: rgb(255, 255, 255);
    list-style: none;
    width: 100%;
    text-align: left;
  }

  .active_li_desk {
    color: rgb(255, 255, 255);
    list-style: none;
    width: 100%;
    text-align: left;
  }
  .active_li_desk::after {
    content: "";
    display: block;
    width: 70%;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: width 0.3s;
  }
}
