#heroContainer {
  background-color: #F4F4F4;
  height: 60dvh;
  width: 100%;
  margin-top: 20dvh;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
#mainTitleWrapper{
  width: 45vw;
  height: 90% ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
}
#carouselContainer{
  width: 45vw;
  height: 100%;
}

.buttonContainer{
  height: 20%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20%;
}

@media (max-width: 768px) {
  #heroContainer {
    height: 81dvh;
    width: 100%;
    margin-top: 19dvh;
  }
  #mainTitleWrapper{
    width: 100%;
    height: 50% ;
  }
  #carouselContainer{
    width: 100%;
    height: 43.5%;
  }
  .buttonContainer{
    height: 20%;
    width: 90%;
    justify-content: center;
    padding-left: 0%;
  }
  #carouselContainer > div > div > div > button{
    display: none;
  }
}


