
#mainTitleContainer{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
}

#mainTitleContainer > h1{
    color: black;
    text-align: center;
    font-family: "Roboto";
    font-size: 6vh;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);

}

#mainTitleContainer > h3{
    color: black;
    text-align: center;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 3vh;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);

}


@media (min-width: 480px){
    #mainTitleContainer{
        height: 60%;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-top: 5%;
    }
}
@media (width > 768px){
    #mainTitleContainer{
        height: 60%;
        width: 90%;
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        gap: 5px;
        padding-left: 10%;
    }
    #mainTitleContainer > h1{
        text-align: left;
    }
    #mainTitleContainer > h3{
        text-align: left;
    }
}